name: Build
on:
  push:
    branches:
      - 'master'

jobs:
  deploy:
    if: startsWith(github.repository, 'noeppi-noeppi/') # don't run this in forks
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: 'Checkout'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: 'Build docker images'
        shell: bash
        run: ./build.sh build
          
      - name: 'Login to GitHub package registry'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: 'Publish docker images'
        shell: bash
        run: ./build.sh publish
